<% provide :title, t(".title") %>
<!DOCTYPE html>
<html>
<body>
  <h1><%= t ".title" %></h1>
  <p>
    The <a href="http://www.railstutorial.org/"><em><%= t "tutorial" %></em>
    </a> <%= t ".body_1" %>
    <a href="http://www.railstutorial.org/book">book</a> <%= t ".body_2" %>
    <a href="http://screencasts.railstutorial.org/"><%= t ".body_3" %></a>
    <%= t ".body_4" %>
    <a href="http://rubyonrails.org/"><%= t ".body_5" %></a>.
    <%= t ".body_6" %>.
  </p>
</body>
</html>
