<% provide :title, t(".title") %>
<!DOCTYPE html>
<html>
<body>
  <h1><%= t ".title" %></h1>
  <p><%= t ".body_1" %>
    <a href="http://www.railstutorial.org/help"><%= t ".body_2" %></a>.
    <%= t ".body_3" %>
    <a href="http://www.railstutorial.org/book"><em><%= t "tutorial" %></em>
    <%= t ".body_4" %></a>.
  </p>
</body>
</html>

